-i https://pypi.org/simple
babel==2.6.0
django-localflavor==2.0
django-phonenumber-field==2.0.0
django-select-multiple-field==0.4.2
django==1.11.29
phonenumberslite==8.9.10
pytz==2018.5
gunicorn==19.7.1
whitenoise==4.1
dj-database-url==0.4.2
psycopg2-binary==2.7.4
djangorestframework==3.8.2
django-easy-pdf==0.1.1
