body {
    background-color: #0A2B58 !important;
    text-align: center !important;
    margin: 5%;
}

h1 {
    color: white !important;
    font-size: 10vh !important;
}

h5 {
    color: white !important;
    font-size: 3vh !important;
}

p {
    font-size: 2.5vh !important;
}

a {
    font-size: 2.5vh !important;
    color: white;
}

a:hover {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: solid !important;
    border-color: white !important;
    border-radius: 250px !important;
    background-color: white !important;
    color: black !important;

    width: 95vh !important;
    max-width: 90vw !important;
    height: 6vh !important;

    margin: 2%;

    font-size: 2vh !important;
    padding: 2% !important;

}


input::placeholder {
    color: black !important;
    font-size: 2.25vh;
    padding: 0 5px;
}



select {
    border: solid !important;
    border-color: white !important;
    border-radius: 250px !important;
    background-color: white !important;
    color: black !important;

    width: 95vh !important;
    max-width: 90vw !important;
    height: 6vh !important;

    font-size: 2vh;
    padding: 2%;

    margin: 2%;
}

button {
    width: 95vh !important;
    max-width: 90vw !important;
    height: 6vh !important;

    border-radius: 250px !important;
}

.section {
    margin: 2%;
}
